@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);

html {
    scroll-behavior: smooth;
  }

* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 80px;
    max-width: 2000px;
    width: 100%;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    transition: box-shadow .3s ease-in-out;
    z-index: 1000;
}

.scrolled {
    box-shadow: 0px -10px 20px black;
}

header *,
footer * {
    font-family: "Open Sans", sans-serif;
}

.openImg {
    width: 40px;
}

#open,
#sidebarActive {
    display: none;
    cursor: pointer;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

nav ul {
    display: flex;
    align-items: center;
}

#logoBox {
    display: flex;
}

.logo {
    height: 65px;
    width: auto;
    margin: 4px;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 80px;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.2s;
}

nav ul li a:hover {
    font-size: 23px;
    color: mediumseagreen;

}

.current {
    color: mediumseagreen;
}

.dropdownProducts {
    display: block;
    position: absolute;
    top: -72px;
    background-color: white;
    border: 1px solid lightgray;
    width: max-content;
    transition: .3s;
    z-index: -999;
}

.dropdownProducts li {
    height: 50px;
    display: flex;
    justify-content: center;
}

#products:hover .dropdownProducts {
    top: 79px;
}

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#products a {
    display: flex;
    align-items: center;
}

.dropdownProducts li a {
    font-size: 18px;
    padding: 15px;
}

.dropdownProducts li a:hover {
    font-size: 20px;
}

.contactButton button {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: solid mediumseagreen;
    border-radius: 8px;
    color: mediumseagreen;
    background-color: transparent;
    transition: .3s;
}

.contactButton button:hover {
    cursor: pointer;
    color: white;
    background-color: mediumseagreen;
}

#overlay {
    display: none;
}

#topBar {
    background-color: lightgray;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: 18px;
    font-weight: 300;
}

#topBar a {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

#topBar a:hover {
    font-weight: 400;
}

.top {
    font-size: 32px;
    padding: 40px;
    background-color: mediumseagreen;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: mediumseagreen;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    transition: .1s;
}

#myBtn img {
    width: 40px;
}
  
#myBtn:hover {
    padding: 12px;
}

#myBtn:active {
    padding: 10px;
}

.smallSect {
    padding: 10px;
    box-sizing: border-box;
    background-color: mediumseagreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.smallSect img {
    height: 18px;
}

.smallAddress,
.smallPhone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.smallPhone a,
.smallAddress a {
    color: white;
    text-decoration: none;
}

.smallPhone a:hover,
.smallAddress a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
}

.footer {
    background-color: darkgray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    text-align: center;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    font-weight: 500;
    text-decoration: underline;
}

@media(max-width: 1000px) {
    #open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: -256%;
        width: 100%;
        background-color: white;
        transition: .5s;
        z-index: -999;
        border-bottom: 1px solid lightgray;
    }

    nav ul li {
        height: 60px;
    }

    #sidebarActive:checked~ul {
        display: flex;
        top: 80px;
    }

    .dropdownProducts {
        display: none;
    }

    .dropdownProducts li a {
        padding: 10px;
    }

    #products:hover .dropdownProducts {
        display: block;
        width: 100%;
        top: 100%;
    }

    #sidebarActive:checked~#overlay {
        display: block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -10000;
    }

}
@media(max-width: 515px) {
    .smallSect {
        gap: 15px;
    }
}
@media(max-width: 500px) {
    .logo {
        height: 50px;
    }
    .contactButton button {
        padding: 8px;
        font-size: 14px;
    }
    .openImg {
        width: 30px;
    }
    .smallLine {
        display: none;
    }
    .smallSect {
        flex-direction: column;
    }
}