.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    gap: 20px;
    padding: 5%;
    padding-left: 10%;
    background: url(./images/whitebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    top: -60px;
}